a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

body{
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #222222;
}

.header-section {
    padding: 27px 0;
    position: absolute;
    width: 100%;
}

.header-section .navbar-nav li {
    padding-right: 20px;
}

.header-section .navbar-nav li a{
    color: #fff;
}

.header-section .header-btn{
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #fff;
    color: #381DDB;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}

.banner-section{
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0 80px;
}

.banner-section h1{
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 35px;
}

.banner-section h1 span{
    color: #FFA3A3;
}

.banner-section p{
    color: #fff;
    font-size: 24px;
    line-height: 38px;
}

.banner_btn_group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.banner_btn{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 15px 30px;
    background-color: #FC5252;
    border-radius: 8px;
    margin-right: 40px;
}

.video-bx a img {
    margin-right: 15px;
}

.video-bx a{
    font-size: 20px;
    font-weight: 800;
    color: #fff;    
}

#countdown-clock{
    justify-content: space-between;
    padding-top: 90px;
   
}

#countdown-clock span, #countdown-clock small{
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-weight: 700;
}

.explore-category{
    padding: 220px 0;
}

.common-title{
    font-size: 34px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 55px;
}

.explore-category h2 span{
    color: #381DDB;
}

.explore-category .category-col{
    padding: 90px 30px 30px;
    margin-right: 25px;
    border-radius: 24px;
}

.explore-category .category-col:last-child{
    margin-right: 0;
    position: relative;
}

.explore-category .category-col:first-child{
    background-color: #fbf3e8;
    border-radius: 0 24px 24px 0;
    position: relative;
    z-index: 99;
}

.explore-category .category-col:first-child:before{
    content: '';
    background-image: url('../images/category-before-img1.png');
    width: 102px;
    height: 102px;
    position: absolute;
    top: -60px;
    left: 40%;
    transform: translateX(-50%);
}

.explore-category .category-col:first-child:after{
    content: '';
    background-image: url('../images/category-before-img2.png');
    width: 161px;
    height: 113px;
    position: absolute;
    z-index: -1;
    bottom: -53px;
    left: 50%;
    transform: translateX(-40%);
}

.explore-category .category-col:last-child:before{
    content: '';
    background-image: url('../images/category-after-img1.png');
    width: 37px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 50%;
}

.explore-category .category-col:last-child:after{
    content: '';
    background-image: url('../images/category-after-img2.png');
    width: 27px;
    height: 26px;
    position: absolute;
    bottom: 5px;
    right: 45px;
}

.explore-category .category-col:nth-child(2){
    background-color: #ffeeee;
}

.explore-category .category-col:nth-child(3){
    background-color: #381DDB;
}

.explore-category .category-col:nth-child(4){
    background-color: #f9e5f5;
}

.explore-category .category-col:last-child{
    background-color: #f3f9ff;
    border-radius: 24px 0 0 24px;
}

.explore-category .category-col img{
    margin-bottom: 25px;
}

.explore-category .category-col h4{
    font-size: 24px;
    font-weight: 800;
    color: #222222;
    margin-bottom: 24px;
}

.explore-category .category-col:nth-child(3) h4{
    color: #fff;
}

.explore-category .category-col p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}

.explore-category .category-col:nth-child(3) p{
    color: rgba(255, 255, 255, 0.7);
}

.about-section{
    padding-bottom: 220px;
}

.about-section .common-title {
    margin-bottom: 35px;
}

.about-section p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 70px;
}

.about-section a,.our-sponsor a{
    color: #fff;
    font-weight: 700;
    background-color: #381DDB;
    padding: 20px 25px;
    border-radius: 8px;
}

.about-section a i{
    margin-left: 12px;
}

.about-row:nth-child(2) .col-md-6:first-child {
    order: 2;
}

.event-schedule{
    padding: 150px 0 0;
    background: #381DDB;
    background: linear-gradient(-140deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0.05) 100%);
}

.event-tab li {
    flex: 0 0 30.3%;
    width: 30.3%;
    margin-right: 30px;
}

.event-tab{
    border: 0;
}

.event-tab li a{
    border-bottom: 4px solid #e5e1fa !important;
    font-size: 24px;
    font-weight: 800;
    color: rgba(34, 34, 34, 0.5);
}

.event-tab li a:hover{
    color: rgba(34, 34, 34, 0.5);
}

.event-tab li a span{
    font-size: 16px;
    font-weight: 700;
    color: rgba(34, 34, 34, 0.2);
}

.event-tab li a.active{
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 4px solid #381DDB !important;
    color: #381DDB !important;
}

.event-tab li a.active span{
    color: rgba(56, 29, 219, 0.5);
}

.event-tab li a:hover{
    border-color: transparent !important;
    border-bottom: 4px solid #e5e1fa !important;
}

.event-tab li a.active:hover{
    border-bottom: 4px solid #381DDB !important;
}

.event-tab li span{
    display: block;
}

.speaker-col{
    display: flex;
    align-items: center;
}

.speaker-col-img {
    padding-right: 8px;
}

.speaker-col-txt h6, .speaker-col-txt p {
    margin-bottom: 0;
}

.speaker-col-txt h6{
    margin-bottom: 5px;
}

.event-schedule .table-responsive {
    padding-top: 35px;
}

.event-schedule .table-responsive thead th {
    padding: 35px 30px;
    background-color: #efecfc;
    border: 0;
}

.event-schedule .table-responsive tbody td{
    padding: 30px;
    font-family: "Raleway", sans-serif;
    background-color: #faf9fe;
    color: #222222;
}

.event-schedule .table-responsive tbody td .speaker-col{
    padding-bottom: 25px;
}

.event-schedule .table-responsive tbody td .speaker-col:last-child{
    padding-bottom: 0;
}

.event-schedule .table-responsive tbody td h6{
    font-weight: 700;
    color: #222222;
}

.event-schedule .table-responsive tbody td .speaker-col-txt strong{
    color: rgba(34, 34, 34, 0.5);
}

.event-schedule .table-responsive thead th:nth-child(2) {
    width: 42%;
}

.event-schedule .table-responsive tbody td:last-child {
    vertical-align: middle;
    text-align: right;
}

.event-schedule .table-responsive tbody td a{
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}

.event-schedule .table-responsive tbody td a:hover{
    color: #FC5252;
}

.event-schedule .table-responsive tbody td a i{
    margin-left: 6px;
}

.event-schedule .table-responsive tr:last-child td {
    border-bottom: 0;
}

.event-schedule .table {
    border: 1px solid #ccc;
    border-radius: 24px !important;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    margin-bottom: 0;
}

.price-table{
    padding: 220px 0;
}

.price-col{
    padding: 35px 25px;
    border-radius: 20px;
    position: relative;
}

.price-col:before{
    content: '';
    width: 92%;
    height: 4px;
    background-color: #222222;
    position: absolute;
    top: 0px;
    left: 14px;
}

.price-table-row .col-md-4:nth-child(2) .price-col:before{
    background-color: #381DDB;
}

.price-table-row .col-md-4:nth-child(3) .price-col:before{
    background-color: #FC5252;
}


.price-col h5{
    font-size: 24px;
    font-weight: 800;
    color: #222222;
    margin-bottom: 20px;
}

.price-col h2{
    font-size: 60px;
    font-weight: 700;
    color: #222222; 
    margin-bottom: 30px;
}

.price-col ul li{
    padding-bottom: 15px;
}

.price-col ul li a{
    font-family: "Raleway", sans-serif;
    color: rgba(34, 34, 34, 0.5);
}

.price-col ul li a.active{
    color: rgba(34, 34, 34, 1);
}

.price-col .price-col-btn{
    padding: 15px 25px;
    color: #381DDB;
    border: 1px solid #381DDB;
    border-radius: 5px;
    display: inline-block;
    min-width: 160px;
    font-weight: 700;
    transition: 0.3s all ease-in-out;
}

.price-col .price-col-btn:hover{
    background-color: #381DDB;
    color: #fff;
}


.price-table-row .col-md-4:nth-child(2) .price-col h5,
.price-table-row .col-md-4:nth-child(2) .price-col h2{
    color: #381DDB;
}

.price-table-row .col-md-4:nth-child(3) .price-col h5,
.price-table-row .col-md-4:nth-child(3) .price-col h2{
    color: #FC5252;
}

.price-table-row{
    position: relative;
}

.before-img1 {
    background-image: url(../images/category-after-img1.png);
    width: 37px;
    height: 23px;
    position: absolute;
    left: -70px;
    top: -60px;
}


.before-img2 {
    background-image: url(../images/category-after-img2.png);
    width: 27px;
    height: 26px;
    position: absolute;
    left: -70px;
    top: 70px;
}

.after-img1 {
    background-image: url(../images/category-after-img3.png);
    width: 48px;
    height: 55px;
    position: absolute;
    right: 0;
    top: -160px;
}

.our-sponsor{
    padding-bottom: 220px;
    position: relative;
}

.our-sponsor::before{
    content: '';
    background-image: url(../images/shape1.png);
    background-repeat: no-repeat;
    background-size: 80%;
    width: 270px;
    height: 173px;
    position: absolute;
    left: 0;
    top: -50px;
}

.sponsor-img {
    padding-bottom: 60px;
}

.our-sponsor a{
    display: block;
    max-width: 225px;
    margin: 30px auto 0;
    text-align: center;
}

.testimonial{
    padding-bottom: 220px;
}

.testimonial-img img{
    display: block;
    width: auto !important;
    margin: auto;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: #f8f8f8;
    transform: scale(1);
    
}

.testimonial-carousel .testimonial-text{
    padding: 50px 60px 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}

.testimonial-carousel .testimonial-text:before{
    content: '';
    background-image: url('../images/Quotes-before.png');
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.testimonial-carousel .testimonial-text:after{
    content: '';
    background-image: url('../images/Quotes-after.png');
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 80px;
    right: 20px;
}

.testimonial-carousel .testimonial-text p{
    margin-bottom: 0;
}

.testimonial-carousel::before, .post-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after, .post-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.post-carousel::before,.post-carousel::after{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
}

@media (min-width: 992px) {
    .testimonial-carousel::before, .testimonial-carousel::after {
        width: 300px;
    }

    .post-carousel::before,.post-carousel::after{
        width: 260px;
    }
}

.our-shots{
    padding: 150px 0;
    background-color: #fff7f7;
    position: relative;
}

.our-shots::after{
    content: '';
    background-image: url('../images/Instagram.png');
    background-repeat: no-repeat;
    width: 431px;
    height: 431px;
    position: absolute;
    left: 30%;
    top: 0;
}

.post-carousel{
    margin-top: 70px;
}

.post-content h6{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.post-content ul li{
    display: inline-block;
    margin-right: 30px;
}

.post-content {
    padding-top: 20px;
}

.post-content ul li i{
    margin-right: 8px;
}

.post-content p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: rgba(34, 34, 34, 0.5);
}

.post-carousel .owl-nav {
    position: relative;
    z-index: 999;
    bottom: 260px;
}

.post-carousel .owl-prev, .post-carousel .owl-next {
    width: 56px;
    height: 56px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100px;
    border-radius: 50%;
}

.post-carousel .owl-next{
    right: 100px;
    left: auto;
}

.contact-left{
    padding: 120px 60px 190px;
    background-color: #381DDB;
    color: #fff;
    position: relative;
    height: 100%;
}

.contact-left::after{
    content: '';
    background-image: url('../images/contact-shape.png');
    background-repeat: no-repeat;
    width: 224px;
    height: 232px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-left h4{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-left h3{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.contact-left ul{
    padding-top: 50px;
}

.contact-left ul li{
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
}

.contact-left ul li:last-child{
    padding-bottom: 0;
}

.contact-left ul li a{
    color: #fff;
}

.contact-left ul li i{
    margin-right: 8px;
    color: #ffa3a3;
}

.contact-right{
    padding: 90px 100px;
    background-color: #f8f8f8;
}

.contact-right h3{
    font-size: 24px;
    font-weight: 800;
    color: #222222;
}

.contact-right form {
    max-width: 570px;
    padding-top: 40px;
}

.contact-right form label{
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(34, 34, 34, 0.7);
}

.contact-right form .form-control{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    padding: 0 0 6px;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #dee2e6;
}

.contact-right form .form-group{
    margin-bottom: 27px;
}

.contact-right form textarea{
    resize: none;
}

.contact-right form input[type="submit"]{
    width: 100%;
    border: 0;
    background-color: #381DDB;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.footer-section{
    padding: 30px 0 25px;
    background-color: #222222;
}

.footer-col {
    padding-top: 45px;
}

.footer-col ul{
    margin-bottom: 0;
}

.footer-col ul li{
    display: inline-block;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-col ul li a,.footer-col ul li a i{
    color: #fff;
}

.footer-col ul li:last-child{
    padding-right: 0;
}

.footer-col-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-col-right ul li i {
    font-size: 24px;
}

.footer-col-right span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1440px) {
    .post-content p{
        font-size: 13px;
    }


}